.photoHome {
  width: 1440px;
  height: 755px;
  object-fit: cover;
  padding-top: 15px;
}
img.photoX {
  width: 500px;
}
.logo {
  display: flex;
  justify-content: center;
}
.description {
  font-size: 1.7em;
  width: 1200px;
  margin: auto;
}
.description p {
  color: #363b4e;
}
